.boton-login{
    background-color: #8521c7b4;
    color: white;
}
.boton-logout{
    border: 0.1em solid #8521c7c2;
}
.boton-logout:hover{
    background-color: #8521c7b4;
    color: white;
}
.boton-login:hover{
    border: 0.1em solid #8521c7c2;
    background-color: whitesmoke;
    font-weight: 500;
    color: black;
}

.boton-login-ocultar{
    display: none;
}

.boton-logout-ocultar{
    display: none;
}

.pag-administracion-ocultar{
    display: none;
}

.modal-content{
    border: 0.15em solid #8521c7c2;
}

#usuario, #clave{
    color: #8521c7c2;
}

.form-control:hover{
    background-color: whitesmoke;
}

.link-registro, .modal-titulo{
    color: #8521c7c2;
}

.mensaje-usuario{
    display: none;
}
.mensaje-usuario-activo{
    display: block;
}

#div-clave{
    position: relative;
}
#div-clave img{
    width: 22px;
    position: absolute;
    z-index: 50;
    right: 10px;
    bottom: 8px;
    cursor: pointer;
}

.mostrar{
    display: block;
}

.ocultar{
    display: none;
}

/* #8521c7b4 */
/* #8521c7c2 más oscuro */