








.letraslogo{
  font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
}



header {
  background-color:#1b1c1d;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 

}

nav ul {
  list-style: none;
  display: flex;
}

nav li {
  margin-right: 20px;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 25px  ;
}

nav a:hover {
  background-color: #08080839;
  color: #fefefe;
  border-radius: 20px;
 
  box-shadow: 0 5px 50px #4a4a4a inset, 0 5px 50px 0 rgb(74, 3, 189),
  0 5px 50px #4f4f4f inset, 0 5px 50px 0 rgb(102, 0, 197);

  text-shadow: 0  0 5px rgb(124, 1, 246),0  0 5px rebeccapurple;

}


form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0,1px;
  border-radius: 50px;
}

form :hover {
  background-color: #ffffff;
  color: #ffffff;
  border-radius: 20px;
 
  box-shadow: 0 5px 50px #989797 inset, 0 5px 50px 0 rgb(106, 2, 233),
  0 5px 50px #a4a4a4 inset, 0 5px 50px 0 rgb(117, 2, 199);

  text-shadow: 0  0 5px rgb(98, 98, 98),0  0 5px rgb(92, 92, 92);
}





input[type="text"] {
  padding: 8px;
  font-size: 16px;
  border: 2px solid #f3f3f3;
  border-radius: 5px;
  outline: none;
  transition: all 0.3s;
}

input[type="text"]:focus {
  border-color: #6b00f6;
}

input[type="submit"] {
  background-color: #2e0063;
  color: #f8f8f8;
  padding: 10px 10px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s;

}

input[type="submit"]:hover {
  background-color: #1f1f1f;
  
}

.logo {
  color:#fefeff;
  cursor: pointer;
  border-radius: 50px;
  height:40px;
  width: 165px;
  padding-left: 1%;
  background-color: #4d01a4;
  border-color: #f7f7f7;
  


} 

.slider {
  width: 100vw;
  height: auto;
  margin: auto;
  overflow: hidden;
}

.slider .slide-track {
  display: flex;
  animation: scroll 20s linear infinite;
  width: calc(2050px * 6);


}

.slider .slide {
  width: 80px;

}

.slider .slide img {
  width: 100%;
}

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(calc(-200px * 7));
    transform: translateX(calc(-200px *7));
  }
}

