header {
	background-color: #490080;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 50px;
}

.logo img {
	height: 50px;
}

nav ul {
	list-style: none;
	display: flex;
}

nav li {
	margin-right: 20px;
}

nav a {
	color: #00f815;
	text-decoration: none;
	font-size: 16px;
	font-weight: bold;
	padding: 5px 10px;
	border-radius: 5px;
}

nav a:hover {
	background-color: #0a0a0afd;
	color: #20e206;
}form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  label {
    font-size: 18px;
    font-weight: bold;
    color: #18e50d;
    margin-right: 10px;
  }
  
  input[type="text"] {
    padding: 8px;
    font-size: 16px;
    border: 2px solid #00f804;
    border-radius: 5px;
    outline: none;
    transition: all 0.3s;
  }
  
  input[type="text"]:focus {
    border-color: #13c706;
  }
  
  input[type="submit"] {
    background-color: #30f604;
    color: #2805c1;
    padding: 10px 10px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s;
    
  }
  
  input[type="submit"]:hover {
    background-color: #000000;
  }

  .logo{
    color: #0cf532;
  }
.androi{
    color: #00f804;
  }

.login{
 color: #fcfffc;
 

}


.slider{
  width: 100vw;
  height: auto;
  margin: auto;
  overflow: hidden;
}

.slider .slide-track{
  display: flex;
  animation: scroll 20s linear infinite;
  width: calc(2050px * 6);


}
.slider .slide{
  width: 80px;

}
.slider .slide img{
  width: 100%;
}

@keyframes scroll {
  0%{
    -webkit-transform:translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-200px * 7));
    transform: translateX(calc(-200px *7));
  }
}

.footer{
  background:
      conic-gradient(at 10% 50%,#05050571 75%,#105c0300 0),
      conic-gradient(at 10% 50%,#47026e00 75%,#302f2f 0) calc(1*32px) calc(3*32px),
      conic-gradient(at 10% 50%,#34038afc 75%,#2a036c 0) calc(2*32px) calc(1*32px),
      conic-gradient(at 10% 50%,#28fc038d 75%,#302f2f 0) calc(3*32px) calc(4*32px),
      conic-gradient(at 10% 50%,#0000 75%,#302f2f 0) calc(4*32px) calc(2*32px),
      conic-gradient(at 50% 10%,#0000 75%,#302f2f 0) 0 calc(4*32px),
      conic-gradient(at 50% 10%,#0000 75%,#302f2f 0) calc(1*32px) calc(2*32px),
      conic-gradient(at 50% 10%,#0000 75%,#302f2f 0) calc(2*32px) 0,
      conic-gradient(at 50% 10%,#0000 75%,#302f2f 0) calc(3*32px) calc(3*32px),
      conic-gradient(at 50% 10%,#0000 75%,#302f2f 0) calc(4*32px) calc(1*32px),
      #1cc209;
  background-size: 160px 160px;
}
.footer--contenedor{
  border-top: 5px solid rgba(0, 250, 79, 0.923);
  color: rgb(13, 247, 5);
  padding-block: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  width: 90%;
  margin-inline: auto;
  justify-content: space-between;
}
@media (min-width:768px) {
  .footer--contenedor{
      flex-direction: row;
  }
}
.navegacion--footer{
  gap: 10px;
}

